# Dependencies
node_modules/
__pycache__/

# Environment
.env
.env.local
.env.production

# Firebase
serviceAccountKey.json

# Uploads
uploads/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Misc
*.tgz
swagger.yaml
